<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UCL SETA - Homepage</title>
    <link rel="stylesheet" href="resources/css/bootstrap1.css"  />
    <link rel="icon" href="http://2018.igem.org/wiki/images/7/73/T--UCL--Logo2.png">
    <link rel="stylesheet" href="style.css"  />
    <link rel="stylesheet" href="favicon.css" />
</head>

<script type="text/javascript" src="http://2018.igem.org/Template:UCL/BootstrapJS?action=raw&ctype=text/javascript"></script>
<script type="text/javascript" src="http://2018.igem.org/Template:UCL/JQuery?action=raw&ctype=text/javascript"></script>
<script type="text/javascript" src="http://2018.igem.org/Template:UCL/WowJS?action=raw&ctype=text/javascript"></script>
<script type="text/javascript" src="resources/js/bootstrapscript.js"></script>
<script type="text/javascript" src="resources/js/jquery-3.3.1.min.js"></script>

<script>
$(document).ready(function(){
    $("a").on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top - 100
            }, 1500, function(){
                window.location.hash = hash;
            });
        }
    });
});
</script>
<script src="resources/js/wow1.js"></script>
<script>
new WOW().init();
</script>

<body>
    <div class="background_img_igem">
        <div class="navbarzindex">
            <div class="navbar-brand_igem"><a href="http://2018.igem.org/Team:UCL">
                <img class="img-logo_igem" src="http://2018.igem.org/wiki/images/7/73/T--UCL--Logo2.png" ></a>
            </div>

            <div class="topnav_igem" id="myTopnav_igem">
                <div class="floatright_igem">
                    <a href="javascript:void(0);" style="font-size:21px;" class="icon_igem" onclick="myFunction()">&#9776;</a>
                    <div class="dropdown_igem">
                        <button class="dropbtn_igem"onclick="People()">People

                        </button>
                        <div class="dropdown-content_igem"id="dropdownpeople_igem">
                            <a href="https://setaucl.github.io/People/team.html">Team</a>
                            <a href="https://setaucl.github.io/People/attributions.html">Attributions</a>
                            <a href="https://setaucl.github.io/People/attributions.html#Sponsors">Sponsors</a>
                        </div>
                    </div>
                    <div class="dropdown_igem">
                        <button class="dropbtn_igem"onclick="Project()">Project

                        </button>
                        <div class="dropdown-content_igem"id="dropdownproject_igem">
                            <a href="https://setaucl.github.io/Project/description.html">Description</a>
                            <a href="https://setaucl.github.io/Project/results.html">Results</a>
                            <a href="https://setaucl.github.io/Project/demonstrate.html">Demonstrate</a>
                            <a href="https://setaucl.github.io/Project/interLab.html">InterLab</a>
                            <a href="https://setaucl.github.io/Project/safety.html">Safety</a>
                        </div>
                    </div>
                    <div class="dropdown_igem">
                        <button class="dropbtn_igem"onclick="Parts()">Parts

                        </button>
                        <div class="dropdown-content_igem"id="dropdownparts_igem">
                            <a href="https://setaucl.github.io/Parts/design.html">Part Design</a>
                            <a href="https://setaucl.github.io/Parts/parts.html">Parts</a>
                            <a href="https://setaucl.github.io/Parts/improve.html">Improved Part</a>
                        </div>
                    </div>
                    <div class="dropdown_igem">
                        <button class="dropbtn_igem"onclick="Modelling()">Modelling

                        </button>
                        <div class="dropdown-content_igem"id="dropdownmodelling_igem">
                            <a href="https://setaucl.github.io/Modelling/model.html">Modelling</a>
                        </div>
                    </div>
                    <div class="dropdown_igem">
                        <button class="dropbtn_igem"onclick="Humanpractices()">Human Practices

                        </button>
                        <div class="dropdown-content_igem"id="dropdownhumanpractices_igem">
                            <a href="https://setaucl.github.io/Human_Practices/Human_Practices.html">Human Practices</a>
                            <a href="https://setaucl.github.io/Human_Practices/public_engagement.html">Public Engagement</a>
                            <a href="https://setaucl.github.io/Human_Practices/collaborations.html">Collaborations</a>
                        </div>
                    </div>
                    <div class="dropdown_igem">
                        <button class="dropbtn_igem"onclick="Notebook()">Notebook

                        </button>
                        <div class="dropdown-content_igem"id="dropdownnotebook_igem">
                            <a href="https://setaucl.github.io/Notebook/notebook.html">Notebook</a>
                            <a href="https://setaucl.github.io/Notebook/achievements.html">Achievements</a>
                            <a href="https://setaucl.github.io/Notebook/experiments.html">Experiments</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

        <script>
        $(window).on('scroll',function(){
            if($(window).scrollTop()){
                $('.navbarzindex').addClass('black');
            }
            else {
                $('.navbarzindex').removeClass('black');
            }
        })
    </script>
    <script>
    function myFunction() {
        var x = document.getElementById("myTopnav_igem");
        if (x.className === "topnav_igem") {
            x.className += " responsive";
        } else {
            x.className = "topnav_igem";
        }
    }
</script>

<script>
(function(){
    var dropDownClass = 'dropdown-content_igem';
    var showClass = 'show_igem';
    var dropDowns = document.getElementsByClassName('dropdown_igem');

    var open = function(e){
        var openDropDown = e.target.nextElementSibling;
        var dropdowns = document.getElementsByClassName(dropDownClass);

        openDropDown.classList.toggle(showClass);

        var closeDropDown = function(event) {
            if (event.target === e.target) {
                return;
            }
            if (openDropDown.classList.contains(showClass)) {
                openDropDown.classList.remove(showClass);
            }
            window.removeEventListener('click', closeDropDown);
        };
        window.addEventListener('click', closeDropDown);
    }

    for(var i = 0; i < dropDowns.length; i++){
        dropDowns[i].children[0].addEventListener('click', open);
    }
}());
</script>

<script type="text/javascript" src="../resources/js/scrolltofixed.js"></script>
<script type="text/javascript" src="http://2018.igem.org/Template:UCL/ScrollToFixed?action=raw&ctype=text/javascript"></script>

<script>
$(document).ready(function() {
    $('#sidenav').scrollToFixed({ marginTop: 250 });
});
</script>

</html>
